<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Album Review App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/albums">Альбомы</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Добро пожаловать в Music Album Review App!</h1>
            <p>Здесь вы можете узнать о музыкальных альбомах и обсудить их. Пожалуйста, просмотрите альбомы и оставьте свои отзывы и оценки.</p>
        </section>
    </main>
    <footer>
        <p>© 2024 Music Album Review App</p>
    </footer>
    <script src="/javascripts/main.js"></script>
</body>
</html>
